<div class="container form-container">
  <div class="text-center">
    <h2>Welcome back!</h2>
  </div>
  <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-group-margin">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" />

      <span class="text-danger" *ngIf="email?.touched && email?.errors?.['required']">Email is required</span>
      <span class="text-danger" *ngIf="email?.touched && email?.errors?.['email']">Email incorrect format</span>
    </div>

    <div class="form-group form-group-margin">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" />

      <span class="text-danger" *ngIf="password?.touched && password?.errors?.['required']">Password is required</span>
    </div>

    <button type="submit" class="btn btn-warning" [disabled]="!userLoginForm.valid">Login</button>
  </form>

  <div class="text-center form-group-margin">
    Not a member? <a routerLink="../signup">Sign up</a>
  </div>

  <div class="alert"
       *ngIf="alertMessage !== ''"
       [ngClass]="alertType === 0 ? 'alert-success' : alertType === 1 ? 'alert-warning' : 'alert-danger'">
    {{alertMessage}}
  </div>
</div>
