<div class="header bg-dark">
  <div class="row">
    <div class="brand my-1">
      <h1>eStore</h1>
    </div>
    <ng-container *ngIf="displayNavItems">
      <div class="d-flex p-0 my-4 w-50 h-25 bg-white">
        <select name="" id="" [(ngModel)]="categoryId" class="dropdown p-0 m-0">
          <option *ngFor="let category of categoryStore.topLevelCategories$ | async" value="{{category.id}}">{{category.category}}</option>
        </select>
        <input type="text" [(ngModel)]="searchText" class="form-control search-box" placeholder="Search..." />
        <button class="search-button" (click)="searchProducts()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </ng-container>
    <div class="login-container p-0">
      <fa-icon class="user-icon" [icon]="faUserCircle"></fa-icon>
      <h5><a href="#">Sign in</a></h5> / <h5><a href="#">Register</a></h5>
    </div>
    <div class="cart-wishlist p-0 list-item">
      <button class="btn btn-dark position-relative" type="button" (click)="navigateToCart()">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <ng-container *ngIf="cartStore.cart$ | async as cart">
          <span *ngIf="cart.totalProducts > 0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            {{cart.totalProducts}}
          </span>
        </ng-container>
      </button>
    </div>
  </div>
</div>
